<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div>
  <div>
    <img src="http://www.skodaklubas.lt/images/velykos.jpg"
         alt="http://www.skodaklubas.lt"
         style="width:300px;height:250px;">
  </div>
  <h1>MAPPED pages</h1>
  <div>
    <div>
      <p><a href="http://localhost:8080/customer/all"/>
        Get all customers with findAll()
      </p>
      <p>
        <a href="http://localhost:8080/customer/141">Get customer id:141 with findById()</a>
      </p>
      <p>
        <a href="http://localhost:8080/customer/customised/103">Get customer id:102 with custom method</a>
      </p>
      <p>
        <a href="http://localhost:8080/customer/name/toy">Get customer Like "Toy" with findCustomerNameLike()</a>
      </p>
    </div>
  </div>
  <h1>Pages with forms</h1>
  <div>
    <div>
      <p><a href="http://localhost:8080/customertemplate/firstpage/141"/>
        Open firstpage form with customer id 141
      </p>
      <p><a href="http://localhost:8080/customertemplate/firstpage/all"/>
        Open customers list with firstpage_list form
      </p>
      <p><a href="http://localhost:8080/customertemplate/jquery"/>
        Open customers list with jQuery form
      </p>
      <p><a href="http://localhost:8080/customertemplate/customer/141"/>
        Open customer by id 141 with customer_th form
      </p>
      <p><a href="http://localhost:8080/customertemplate/customer/all"/>
        Open all customers with customers_th form
      </p>
      <p><a href="http://localhost:8080/customertemplate/customers/getandpost"/>
        Search customer by name
      </p>
    </div>
  </div>

</div>
</body>
</html>